@font-face {
  font-family: oxygen;
  src: url(./fonts/GothicA1-Regular.ttf);
}

body {
  font-family: oxygen;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.left-side {
  background: #01462b;
  height: 100%;
  width: 30%;
}

.logo {
  top: 0px;
  display: flex;
  justify-content: center;
}

.logo > img {
  margin-top: 40px;
  height: 4em;
}

.nav-buttons {
  margin-top: 7vw;
  margin-left: 5vw;
  gap: 1vw;
  display: flex;
  flex-direction: column;
}

.nav-buttons > a {
  /* background-color: black; */
  color: white;
  text-align: left;
  height: clamp(1rem, 2vw, 2rem);

  display: inline-flex;
  align-items: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.nav-buttons > a > img {
  height: 1.5rem;
  margin-right: 20px;
}

.right-side {
  background: #fff8e9;
  height: 100%;
  width: 70%;
}

.right-side > .top-right {
  background-color: #fffffb;
  height: 12vw;
  width: 100%;
}

.top-bar {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.search-bar > img {
  height: 3vw;
  margin: 0vw 1vw 0vw 2vw;
}

.search-bar > form > input {
  height: 2vw;
  width: 30vw;
  border-radius: 10px;
  background-color: lightgray;
}

.right-side > .bottom-right {
  /* background-color: ; */
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 2vw;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;

  margin-right: 10vw;
}

.profile img {
  height: 3rem;
  margin-right: 20px;
}

.projects {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
}

.project-container {
  /* margin: 2vw; */
  display: grid;
  grid-template-columns: 20vw 20vw;
  column-gap: 4vw;
  row-gap: 4vw;
}

.box {
  width: 20vw;
  height: 20vw;
  border-radius: 1vw;

  background-color: #fffffb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  flex-direction: row;
}

.left-bar {
  width: 1vw;
  height: 100%;
  border-radius: 1vw 0 0 1vw;

  background-color: #1c8757;
}

.right-text {
  width: 100%;
  text-overflow: clip;

  margin: 1vw 1vw;
}

.tall-box {
  margin: 2vw;
  display: grid;
  grid-template-columns: 20vw;
}

.tall-box > .box {
  width: 20vw;
  height: 31.2vw;
  border-radius: 1vw;

  background-color: #fffffb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  flex-direction: row;
}

.right-column > .tall-box > h3 {
  margin-top: 0px;
}
